<%= render "users/navigation" %>
<br>
<%= render "recipe_query" %>

<h1 style="color: #102E37;"><center>Welcome to Crunch-Mate</center></h1>
<p><center style="color: #102E37;">Use the search bar above to get started</center></p>
