<%= render "users/navigation" %>
<br>
<%= render "recipe_query" %>

<div class="intro alt-mobile">
  <h1>Welcome to CrunchMate</h1>
  <p>Use the search bar above to discover recipes to fit your schedule</p>
</div>
